h1 {
  text-align: center;
  font-size: 3rem;
}
body {
  background-color: rgb(239, 225, 225);
}
ul li {
  list-style-type: decimal;
}
ul li h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.box {
  margin-top: 20px;
  padding: 30px;
  display: flex;
  gap: 20px;
}
.card {
  border: 1px solid #b45fbe;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
